@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'LamoonRegular';
    src: url('./fonts/Lamoon_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'LamoonLight';
    src: url('./fonts/Lamoon_Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  